/* Common app styling */

#content-header {
    background: #2a8dd4;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Fixed header height */
    overflow: hidden; /* Disable scrollbars for header */
}

#content-main {
    background: #fff;
    position: fixed;
    top: 80px; /* Same value as #content-header's height */
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto; /* Enable scrollbars within main content section */
}

.padding {
    padding: 15px;
}

#notification-message {
    text-align: left;
    background-color: #818285;
    color: #fff;
    position: absolute;
    width: 100%;
    min-height: 80px;
    right: 0;
    z-index: 100;
    bottom: 0;
    display: none; /* Hidden until invoked */
}

#notification-message #notification-message-header {
    text-align: left;
    font-size: medium;
    margin-bottom: 10px;
}

#notification-message #notification-message-close {
    background-image: url("../Images/Close.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

input[type=submit] {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: small;
    /*padding: 10px 20px 10px 20px;*/
    text-decoration: none;
    /*width: 110px;*/
    height: 30px;
    position: center;
}

body { text-align: center; }

input[type=text] {  
  width : 150px;
  margin: 0;
}